@{
    ViewBag.Title = "Vendor's Secured Page";
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}
<h2>@ViewBag.Title.</h2>


<p>
    This page is what the user would normally be redirected to after logging in. This is just a temporary page. 
</p>