@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <iframe id="thirdPartySite" src="" allowtransparency="true" scrolling="yes" style="width: 100%; height: 1000px; border: 0;"></iframe>
</div>

@section scripts
{
    <script type="text/javascript">
        var clearSite = function() {
            $('#thirdPartySite').attr('src', 'about:blank');
        }

        var loadSite = function () {
            clearSite();
            console.log("click");
            var userNameField = $(this).data("user-id-field");
            var passwordField = $(this).data("password-field");
            var href = $(this).data("href");
            var loginAction = $(this).data("login-action");
            var userName = $(this).data("user-id");
            var passwordVal = $(this).data("password");

            $.getJSON(
                document.location.protocol + '//allorigins.me/get?url=' + encodeURIComponent(href) + '&callback=?',
                function(data) {
                    //$('#thirdPartySite').hide();

                    var iframe = $('#thirdPartySite')[0];
                    var doc = iframe.document;
                    if (iframe.contentDocument) {
                        doc = iframe.contentDocument;
                    } else if (iframe.contentWindow) {
                        doc = iframe.contentWindow.document;
                    }

                    $('#thirdPartySite').on('load',
                        function() {
                            var userId = doc.getElementById(userNameField);
                            var password = doc.getElementById(passwordField);

                            if (typeof userId !== 'undefined' && userId) {
                                userId.value = userName;
                                password.value = passwordVal;
                                var form = userId.form;
                                form.action = loginAction;
                                form.submit();
                            }
                            //$('#thirdPartySite').show();
                        });
                    // This iframe sillyness is to put the html into a css sandbox (so it doesn't affect the main website)
                    doc.open();
                    doc.writeln(data.contents);
                    doc.close();
                });


        };

        $(function() {
            $('[data-toggle="popover"]').popover();

            $('#homesteadVillage').on('click', loadSite);
            $('#myFreeCycle').on('click', loadSite);
            $('#volvoCommunity').on('click', loadSite);
            
            $('#evoqueForums').on('click', loadSite);
        });

    </script>
}

