@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <iframe id="thirdPartySite" src="" allowtransparency="true" scrolling="yes" style="width: 100%; height: 900px; border: none; display: none;"></iframe>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover(); 

            var davesGmailLink = $('#davesGithub');

            davesGmailLink.on("click",
                function() {
                    console.log("click");
                    var iframe = $('#thirdPartySite');
                    iframe.on('load',
                        function() {
                            console.log('ready');
                            var frame = document.getElementById("thirdPartySite");
                            var innerDoc = (frame.contentDocument)
                                ? frame.contentDocument
                                : frame.contentWindow.document;
                            var userId = innerDoc.getElementById('UserName');
                            var password = innerDoc.getElementById('Password');
                            if (typeof userId !== 'undefined' && userId) {
                                userId.value = "userId";
                                password.value = "password1";
                                var form = userId.form;
                                form.submit();
                                iframe.show();
                            }
                        });

                    iframe.attr('src', '/Home/Login');


                    /*
                    var createCORSRequest = function(method, url) {
                        var xhr = new XMLHttpRequest();
                        if ("withCredentials" in xhr) {
                            // Most browsers.
                            xhr.open(method, url, true);
                        } else if (typeof XDomainRequest != "undefined") {
                            // IE8 & IE9
                            xhr = new XDomainRequest();
                            xhr.open(method, url);
                        } else {
                            // CORS not supported.
                            xhr = null;
                        }
                        return xhr;
                    };

                    var url = 'https://github.com/session';
                    var method = 'POST';
                    var xhr = createCORSRequest(method, url);

                    xhr.onload = function() {
                        // Success code goes here.
                        alert("CORS supported");
                    };

                    xhr.onerror = function() {
                        // Error code goes here.
                        alert("POST failed");
                    };

                    xhr.withCredentials = true;
                    xhr.send();
                    */


                    // load the frame with gmail
                });
        });
    </script>
}

