@model Mtwx.Web.Domain.ApplicationRole

<h3>Are you sure you want to delete the @Model.RoleName role?</h3>
 
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-row">
            <div class="form-group col-md-12">
                @Html.ActionLink("Yes", "Delete", "ApplicationRole", new { area = "Admin", id = Model.Id }, new { @class = "btn btn-primary", id = "confirmDelete", onclick = "return false;" })
                @Html.ActionLink("No", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#confirmDelete').on("click", function () {
                $(this).closest('form')[0].submit();
            });
        });
    </script>
}

